body{
//   font-family: getFont(main-roboto);
//   background-color:getColor(main-bg);
//   color: getColor(font-dark);
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: rgb(117, 67, 167);
  // font-size: 250px;
}

a{
  text-decoration: none;
}

li{
   list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}

ul,
ol{
  margin: 0;
  padding: 0;
}

p{
  padding: 0;
}

img{
  display: block;
}