// .logo
@keyframes puls-small {
  0% {
    height: 180px;
    width: 213.97px;
  }

  30% {
    height: calc(180px + 3%);
    width: calc(213.97px + 3%);
  }

  70% {
    height: calc(180px - 5%);
    width: calc(213.97px - 5%);
  }

  100% {
    height: 180px;
    width: 213.97px;
  }
}

@keyframes puls-medium {
  0% {
    height: 302px;
    width: 359px;
  }

  30% {
    height: calc(290px+ 5%);
    width: calc(359px + 5%);
  }

  70% {
    height: calc(290px- 5%);
    width: calc(359px - 5%);
  }

  100% {
    height: 302px;
    width: 359px;
  }
}

@keyframes puls-big {
  0% {
    height: 402px;
    width: 477px;
  }

  50% {
    height: calc(402px + 5%);
    width: calc(477px + 5%);
  }

  70% {
    height: calc(402px - 5%);
    width: calc(477px - 5%);
  }

  100% {
    height: 402px;
    width: 477px;
  }
}
// .logo end

// logo > svg
@keyframes puls-svg-small {
  0% {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 80px;
  }

  30% {
    width: calc(90px + 5%);
    height: calc(100px + 5%);
    top: calc(90px + 5%);
    left: calc(100px + 5%);
  }

  70% {
    width: calc(90px - 5%);
    height: calc(100px - 5%);
    top: calc(90px - 5%);
    left: calc(100px - 5%);
  }

  100% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
}

@keyframes puls-svg-medium {
  0% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }

  30% {
    width: calc(167.8px + 5%);
    height: calc(167.8px+ 5%);
    top: calc(151.1px + 5%);
    left: calc(167.8px + 5%);
  }

  70% {
    width: calc(167.8px - 5%);
    height: calc(167.8px -5%);
    top: calc(151.1px - 5%);
    left: calc(167.8px - 5%);
  }

  100% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
}

@keyframes puls-svg-big {
  0% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }

  30% {
    width: calc(223.1px + 5%);
    height: calc(223.1px + 5%);
    top: calc(200.1px + 5%);
    left: calc(223.1px + 5%);
  }

  70% {
    width: calc(223.1px - 5%);
    height: calc(223.1px - 5%);
    top: calc(200.1px - 5%);
    left: calc(223.1px - 5%);
  }

  100% {
    width: calc(223.1px);
    height: calc(223.1px);
    top: calc(200.1px);
    left: calc(223.1px);
  }
}
// logo > svg end

// form
@keyframes puls-shadow {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

// form end

// loading
@keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}
// end loading

// event
@keyframes opacityEvent {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// end envent
