$colors: (
  font-main-color: #dc56c5,
  font-main-color-transparent: #dc38c54d,
  font-second-color: #fff,
  font-gray-color: #939393,
  bg-color: #0e0e0e,
  bg-modal: #fff2fd,
  button-color: #4c00fe,
);

$fonts: (
  "main-Montserrat": (
    "Montserrat",
    sans-serif,
  ),
  "second-raleway": (
    "Raleway",
    sans-serif,
  ),
);

@function getColor($name) {
  @return map-get($colors, $name);
}

@function getFont($font) {
  @return map-get($fonts, $font);
}
