body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  color: #dc56c5;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@-webkit-keyframes puls-small {
  0% {
    height: 180px;
    width: 213.97px;
  }
  30% {
    height: calc(180px + 3%);
    width: calc(213.97px + 3%);
  }
  70% {
    height: calc(180px - 5%);
    width: calc(213.97px - 5%);
  }
  100% {
    height: 180px;
    width: 213.97px;
  }
}

@keyframes puls-small {
  0% {
    height: 180px;
    width: 213.97px;
  }
  30% {
    height: calc(180px + 3%);
    width: calc(213.97px + 3%);
  }
  70% {
    height: calc(180px - 5%);
    width: calc(213.97px - 5%);
  }
  100% {
    height: 180px;
    width: 213.97px;
  }
}

@-webkit-keyframes puls-medium {
  0% {
    height: 302px;
    width: 359px;
  }
  30% {
    height: calc(290px+ 5%);
    width: calc(359px + 5%);
  }
  70% {
    height: calc(290px- 5%);
    width: calc(359px - 5%);
  }
  100% {
    height: 302px;
    width: 359px;
  }
}

@keyframes puls-medium {
  0% {
    height: 302px;
    width: 359px;
  }
  30% {
    height: calc(290px+ 5%);
    width: calc(359px + 5%);
  }
  70% {
    height: calc(290px- 5%);
    width: calc(359px - 5%);
  }
  100% {
    height: 302px;
    width: 359px;
  }
}

@-webkit-keyframes puls-big {
  0% {
    height: 402px;
    width: 477px;
  }
  50% {
    height: calc(402px + 5%);
    width: calc(477px + 5%);
  }
  70% {
    height: calc(402px - 5%);
    width: calc(477px - 5%);
  }
  100% {
    height: 402px;
    width: 477px;
  }
}

@keyframes puls-big {
  0% {
    height: 402px;
    width: 477px;
  }
  50% {
    height: calc(402px + 5%);
    width: calc(477px + 5%);
  }
  70% {
    height: calc(402px - 5%);
    width: calc(477px - 5%);
  }
  100% {
    height: 402px;
    width: 477px;
  }
}

@-webkit-keyframes puls-svg-small {
  0% {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 80px;
  }
  30% {
    width: calc(90px + 5%);
    height: calc(100px + 5%);
    top: calc(90px + 5%);
    left: calc(100px + 5%);
  }
  70% {
    width: calc(90px - 5%);
    height: calc(100px - 5%);
    top: calc(90px - 5%);
    left: calc(100px - 5%);
  }
  100% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
}

@keyframes puls-svg-small {
  0% {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 80px;
  }
  30% {
    width: calc(90px + 5%);
    height: calc(100px + 5%);
    top: calc(90px + 5%);
    left: calc(100px + 5%);
  }
  70% {
    width: calc(90px - 5%);
    height: calc(100px - 5%);
    top: calc(90px - 5%);
    left: calc(100px - 5%);
  }
  100% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
}

@-webkit-keyframes puls-svg-medium {
  0% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
  30% {
    width: calc(167.8px + 5%);
    height: calc(167.8px+ 5%);
    top: calc(151.1px + 5%);
    left: calc(167.8px + 5%);
  }
  70% {
    width: calc(167.8px - 5%);
    height: calc(167.8px -5%);
    top: calc(151.1px - 5%);
    left: calc(167.8px - 5%);
  }
  100% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
}

@keyframes puls-svg-medium {
  0% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
  30% {
    width: calc(167.8px + 5%);
    height: calc(167.8px+ 5%);
    top: calc(151.1px + 5%);
    left: calc(167.8px + 5%);
  }
  70% {
    width: calc(167.8px - 5%);
    height: calc(167.8px -5%);
    top: calc(151.1px - 5%);
    left: calc(167.8px - 5%);
  }
  100% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
}

@-webkit-keyframes puls-svg-big {
  0% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
  30% {
    width: calc(223.1px + 5%);
    height: calc(223.1px + 5%);
    top: calc(200.1px + 5%);
    left: calc(223.1px + 5%);
  }
  70% {
    width: calc(223.1px - 5%);
    height: calc(223.1px - 5%);
    top: calc(200.1px - 5%);
    left: calc(223.1px - 5%);
  }
  100% {
    width: calc(223.1px);
    height: calc(223.1px);
    top: calc(200.1px);
    left: calc(223.1px);
  }
}

@keyframes puls-svg-big {
  0% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
  30% {
    width: calc(223.1px + 5%);
    height: calc(223.1px + 5%);
    top: calc(200.1px + 5%);
    left: calc(223.1px + 5%);
  }
  70% {
    width: calc(223.1px - 5%);
    height: calc(223.1px - 5%);
    top: calc(200.1px - 5%);
    left: calc(223.1px - 5%);
  }
  100% {
    width: calc(223.1px);
    height: calc(223.1px);
    top: calc(200.1px);
    left: calc(223.1px);
  }
}

@-webkit-keyframes puls-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@keyframes puls-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}

@keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}

@-webkit-keyframes opacityEvent {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityEvent {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacityBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes puls-small {
  0% {
    height: 180px;
    width: 213.97px;
  }
  30% {
    height: calc(180px + 3%);
    width: calc(213.97px + 3%);
  }
  70% {
    height: calc(180px - 5%);
    width: calc(213.97px - 5%);
  }
  100% {
    height: 180px;
    width: 213.97px;
  }
}

@keyframes puls-medium {
  0% {
    height: 302px;
    width: 359px;
  }
  30% {
    height: calc(290px+ 5%);
    width: calc(359px + 5%);
  }
  70% {
    height: calc(290px- 5%);
    width: calc(359px - 5%);
  }
  100% {
    height: 302px;
    width: 359px;
  }
}

@keyframes puls-big {
  0% {
    height: 402px;
    width: 477px;
  }
  50% {
    height: calc(402px + 5%);
    width: calc(477px + 5%);
  }
  70% {
    height: calc(402px - 5%);
    width: calc(477px - 5%);
  }
  100% {
    height: 402px;
    width: 477px;
  }
}

@keyframes puls-svg-small {
  0% {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 80px;
  }
  30% {
    width: calc(90px + 5%);
    height: calc(100px + 5%);
    top: calc(90px + 5%);
    left: calc(100px + 5%);
  }
  70% {
    width: calc(90px - 5%);
    height: calc(100px - 5%);
    top: calc(90px - 5%);
    left: calc(100px - 5%);
  }
  100% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
}

@keyframes puls-svg-medium {
  0% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
  30% {
    width: calc(167.8px + 5%);
    height: calc(167.8px+ 5%);
    top: calc(151.1px + 5%);
    left: calc(167.8px + 5%);
  }
  70% {
    width: calc(167.8px - 5%);
    height: calc(167.8px -5%);
    top: calc(151.1px - 5%);
    left: calc(167.8px - 5%);
  }
  100% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
}

@keyframes puls-svg-big {
  0% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
  30% {
    width: calc(223.1px + 5%);
    height: calc(223.1px + 5%);
    top: calc(200.1px + 5%);
    left: calc(223.1px + 5%);
  }
  70% {
    width: calc(223.1px - 5%);
    height: calc(223.1px - 5%);
    top: calc(200.1px - 5%);
    left: calc(223.1px - 5%);
  }
  100% {
    width: calc(223.1px);
    height: calc(223.1px);
    top: calc(200.1px);
    left: calc(223.1px);
  }
}

@keyframes puls-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}

@keyframes opacityEvent {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-box {
  width: 152px;
  height: 152px;
  overflow: hidden;
  margin: 100px 0 40px;
  background: rgba(255, 255, 255, 0);
}

.loading-circle {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.loading-circle div {
  position: absolute;
  border-width: 7.6px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loading-circle 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loading-circle 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading-circle div:first-child {
  border-color: #dc56c5;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading-circle div:last-child {
  border-color: #ffffff;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@keyframes puls-small {
  0% {
    height: 180px;
    width: 213.97px;
  }
  30% {
    height: calc(180px + 3%);
    width: calc(213.97px + 3%);
  }
  70% {
    height: calc(180px - 5%);
    width: calc(213.97px - 5%);
  }
  100% {
    height: 180px;
    width: 213.97px;
  }
}

@keyframes puls-medium {
  0% {
    height: 302px;
    width: 359px;
  }
  30% {
    height: calc(290px+ 5%);
    width: calc(359px + 5%);
  }
  70% {
    height: calc(290px- 5%);
    width: calc(359px - 5%);
  }
  100% {
    height: 302px;
    width: 359px;
  }
}

@keyframes puls-big {
  0% {
    height: 402px;
    width: 477px;
  }
  50% {
    height: calc(402px + 5%);
    width: calc(477px + 5%);
  }
  70% {
    height: calc(402px - 5%);
    width: calc(477px - 5%);
  }
  100% {
    height: 402px;
    width: 477px;
  }
}

@keyframes puls-svg-small {
  0% {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 80px;
  }
  30% {
    width: calc(90px + 5%);
    height: calc(100px + 5%);
    top: calc(90px + 5%);
    left: calc(100px + 5%);
  }
  70% {
    width: calc(90px - 5%);
    height: calc(100px - 5%);
    top: calc(90px - 5%);
    left: calc(100px - 5%);
  }
  100% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
}

@keyframes puls-svg-medium {
  0% {
    width: 100px;
    height: 100px;
    top: 90px;
    left: 100px;
  }
  30% {
    width: calc(167.8px + 5%);
    height: calc(167.8px+ 5%);
    top: calc(151.1px + 5%);
    left: calc(167.8px + 5%);
  }
  70% {
    width: calc(167.8px - 5%);
    height: calc(167.8px -5%);
    top: calc(151.1px - 5%);
    left: calc(167.8px - 5%);
  }
  100% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
}

@keyframes puls-svg-big {
  0% {
    width: calc(167.8px);
    height: calc(167.8px);
    top: calc(151.1px);
    left: calc(167.8px);
  }
  30% {
    width: calc(223.1px + 5%);
    height: calc(223.1px + 5%);
    top: calc(200.1px + 5%);
    left: calc(223.1px + 5%);
  }
  70% {
    width: calc(223.1px - 5%);
    height: calc(223.1px - 5%);
    top: calc(200.1px - 5%);
    left: calc(223.1px - 5%);
  }
  100% {
    width: calc(223.1px);
    height: calc(223.1px);
    top: calc(200.1px);
    left: calc(223.1px);
  }
}

@keyframes puls-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@keyframes loading-circle {
  0% {
    top: 68.4px;
    left: 68.4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2.2800000000000002px;
    left: -2.2800000000000002px;
    width: 141.36px;
    height: 141.36px;
    opacity: 0;
  }
}

@keyframes opacityEvent {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo, .logo > svg, .event, .loading-box {
  -webkit-animation-duration: 550ms;
          animation-duration: 550ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

#event-serch,
#choose-country, .title > h1, .footer__text {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.logo {
  -webkit-animation-name: puls-small;
          animation-name: puls-small;
}

@media screen and (min-width: 768px) {
  .logo {
    -webkit-animation-name: puls-medium;
            animation-name: puls-medium;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    -webkit-animation-name: puls-big;
            animation-name: puls-big;
  }
}

.logo > svg {
  -webkit-animation-name: puls-svg-small;
          animation-name: puls-svg-small;
}

@media screen and (min-width: 768px) {
  .logo > svg {
    -webkit-animation-name: puls-svg-medium;
            animation-name: puls-svg-medium;
  }
}

@media screen and (min-width: 1280px) {
  .logo > svg {
    -webkit-animation-name: puls-svg-big;
            animation-name: puls-svg-big;
  }
}

#event-serch:focus,
#choose-country:focus {
  -webkit-animation-name: puls-shadow;
          animation-name: puls-shadow;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
}

.event {
  opacity: 0;
  -webkit-animation-name: opacityEvent;
          animation-name: opacityEvent;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  -webkit-animation-duration: 650ms;
          animation-duration: 650ms;
}

.loading-box {
  opacity: 1;
  -webkit-animation-name: opacityBox;
          animation-name: opacityBox;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)), url("./../images/header/bg-band.png");
  background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%), url("./../images/header/bg-band.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 364px;
  position: relative;
}

@media screen and (min-width: 330px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)), url("./../../src/images/header/bg-bandMid.png");
    background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%), url("./../../src/images/header/bg-bandMid.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 780px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)), url("./../../src/images/header/bg-bandBig.png");
    background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%), url("./../../src/images/header/bg-bandBig.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 1280px;
    height: 446px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}

.header .logo {
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: -100px;
  background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .header .logo {
    left: -179px;
    top: -160px;
  }
}

@media screen and (min-width: 1280px) {
  .header .logo {
    left: -239px;
    top: -240px;
  }
}

.header .logo > svg {
  position: absolute;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__list .title > h1 {
  width: 212px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 78px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__list .title > h1 {
    width: 353px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 40px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__list .title > h1 {
    width: 590px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 40px;
    font-size: 50px;
  }
}

.header__list .serch__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__list .serch__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__list .serch__wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__list .serch__wrapper {
    margin-top: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .header__list .serch__wrapper {
    margin-top: 27px;
  }
}

.header__list .serch__wrapper #event-serch,
.header__list .serch__wrapper #choose-country {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  height: 40px;
  margin-top: 25px;
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  border-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.header__list .serch__wrapper #event-serch::-webkit-input-placeholder,
.header__list .serch__wrapper #choose-country::-webkit-input-placeholder {
  color: #939393;
}

.header__list .serch__wrapper #event-serch:-ms-input-placeholder,
.header__list .serch__wrapper #choose-country:-ms-input-placeholder {
  color: #939393;
}

.header__list .serch__wrapper #event-serch::-ms-input-placeholder,
.header__list .serch__wrapper #choose-country::-ms-input-placeholder {
  color: #939393;
}

.header__list .serch__wrapper #event-serch::placeholder,
.header__list .serch__wrapper #choose-country::placeholder {
  color: #939393;
}

.header__list .serch__wrapper #event-serch:hover, .header__list .serch__wrapper #event-serch:focus,
.header__list .serch__wrapper #choose-country:hover,
.header__list .serch__wrapper #choose-country:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .header__list .serch__wrapper #event-serch {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__list .serch__wrapper #choose-country {
    margin-left: 15px;
  }
}

.header__list .serch__wrapper .loop,
.header__list .serch__wrapper .down-arrow {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 40px;
  right: 30px;
}

@media screen and (min-width: 768px) {
  .header__list .serch__wrapper .loop {
    top: 39px;
    right: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .header__list .serch__wrapper .loop {
    top: 39px;
    right: 43px;
  }
}

.events {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  max-width: 310px;
  margin-top: -51px;
}

@media screen and (min-width: 768px) {
  .events > .container {
    max-width: 610px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .events > .container {
    max-width: 946px;
    margin-top: -47px;
  }
}

.events > .container .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  text-align: center;
  position: relative;
  margin-bottom: 38px;
}

.events > .container .event:nth-child(n) {
  margin-left: 14px;
}

.events > .container .event:nth-child(2n + 1) {
  margin-left: 0;
}

.events > .container .event:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .events > .container .event {
    margin-bottom: 58px;
  }
  .events > .container .event:nth-child(n) {
    margin-left: 27px;
  }
  .events > .container .event:nth-child(3n + 1) {
    margin-left: 0;
  }
  .events > .container .event:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .events > .container .event {
    margin-bottom: 63px;
    margin-left: 70px;
  }
  .events > .container .event:nth-child(n) {
    margin-left: 70px;
  }
  .events > .container .event:nth-child(4n + 1) {
    margin-left: 0;
  }
  .events > .container .event:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.events > .container .event::before {
  content: "";
  position: absolute;
  width: 109px;
  height: 101px;
  left: 30px;
  top: -10px;
  border: 1px solid #dc38c54d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px 0px;
}

@media screen and (min-width: 768px) {
  .events > .container .event::before {
    width: 153px;
    height: 143px;
    left: 43px;
    top: -14px;
  }
}

.events > .container .event--is-hidden {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.events > .container .event__img > img {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
}

@media screen and (min-width: 768px) {
  .events > .container .event__img > img {
    width: 180px;
    height: 227px;
  }
}

@media screen and (min-width: 1280px) {
  .events > .container .event__img > img {
    width: 180px;
    height: 227px;
  }
}

.events > .container .event__title > h2 {
  width: 128px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
}

@media screen and (min-width: 768px) {
  .events > .container .event__title > h2 {
    width: 184px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.events > .container .event__start > span {
  color: #fff;
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.214;
  font-style: 400;
}

@media screen and (min-width: 768px) {
  .events > .container .event__start > span {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events > .container .event__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  color: #fff;
}

.events > .container .event__place > svg {
  width: 6px;
  height: 9px;
}

@media screen and (min-width: 768px) {
  .events > .container .event__place > svg {
    width: 9px;
    height: 12px;
  }
}

.events > .container .event__place > .location {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  width: 123px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .events > .container .event__place > .location {
    font-size: 14px;
    line-height: 1.214;
    width: 150px;
  }
}

.events .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-top: 60px;
  width: 233px;
  height: 30px;
}

.events .pages .page, .events .pages .page-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 7px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
}

.events .pages .page:hover {
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0;
  cursor: pointer;
}

.footer > .container {
  width: 252px;
  height: 34px;
  margin-top: 60px;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .footer > .container {
    width: 521px;
    height: 20px;
  }
}

.footer__text {
  color: #939393;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer__span {
  color: #dc56c5;
}

.footer__hart {
  color: #dc56c5;
  font-size: 17px;
}

.footer__team {
  text-decoration: underline;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .wrapper {
  position: fixed;
}

.modal .wrapper .close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 17px;
  height: 17px;
}

.modal .wrapper .imgRound {
  width: 102px;
  height: 102px;
  margin: 75px auto 18px;
  background-image: url("./../images/temporary/pic.png");
  background-position: 50% 50%;
  border-radius: 50% 50%;
}

@media screen and (min-width: 768px) {
  .modal .wrapper .imgRound {
    width: 70px;
    height: 70px;
    margin: 28px auto 43px;
  }
}

@media screen and (min-width: 1280px) {
  .modal .wrapper .imgRound {
    width: 132px;
    height: 132px;
    margin: 62px auto 41px;
  }
}

.modal .wrapper {
  width: 272px;
  height: 915px;
  border-radius: 150px 0px;
  background-color: #fff2fd;
}

@media screen and (min-width: 768px) {
  .modal .wrapper {
    width: 595px;
    height: 831px;
    border-radius: 300px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .modal .wrapper {
    width: 930px;
    height: 1023px;
  }
}

.modal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }
}

.modal-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-list__img {
  visibility: hidden;
  display: none;
  background-color: orange;
}

@media screen and (min-width: 768px) {
  .modal-list__img {
    visibility: visible;
    display: block;
    width: 233px;
    height: 416px;
    margin: 0 30px 0 50px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-list__img {
    width: 360px;
    height: 641px;
    margin: 0 60px 0 30px;
  }
}

.modal-list__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 1280px) {
  .modal-list__title {
    font-size: 24px;
    line-height: 1.208;
  }
}

.modal-list__text {
  color: #0e0e0e;
  width: 173px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 5px 0 10px 0;
}

@media screen and (min-width: 1280px) {
  .modal-list__text {
    font-size: 18px;
    line-height: 1.22;
    margin: 7px 0 20px 0;
  }
}

.modal-list__text-width {
  width: 243px;
}

@media screen and (min-width: 1280px) {
  .modal-list__text-width {
    width: 450px;
  }
}

.modal-list__text--label::before {
  content: '';
  display: inline-block;
  background: url("./../images/modal/ticket.png");
  width: 24px;
  height: 16px;
  margin-right: 13px;
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  .modal-list__text--label::before {
    margin-left: 0;
  }
}

.modal-list .btn-buy {
  background: linear-gradient(119deg, #4c00fe 0%, #dc56c5 80%);
  background-size: 700%;
  background-position: left;
  color: #fff;
  cursor: pointer;
  width: 145px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
}

.modal-list .btn-buy:hover, .modal-list .btn-buy:focus {
  -webkit-animation: bg-grag;
          animation: bg-grag;
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bg-grag {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-grag {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.modal-list .btn-author {
  color: #4c00fe;
  border: 1px solid #4c00fe;
  background-color: transparent;
  cursor: pointer;
  width: 230px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .modal-list .btn-author {
    position: absolute;
    bottom: 56px;
    left: 170px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-list .btn-author {
    bottom: 62px;
    left: 337px;
  }
}

.modal-list .btn-author:hover, .modal-list .btn-author:focus {
  border: 1px solid #dc56c5;
}

.backdrop {
  visibility: visible;
  background: rgba(32, 13, 29, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow: hidden;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.wrapper {
  pointer-events: none;
  -webkit-filter: blur(0);
          filter: blur(0);
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 80vh;
  z-index: 2;
  border: 3px solid white;
}

.wrapper-active {
  display: block;
}

.over {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */