@import "../utils/variable";
.neon-title {
  color: #dc56c5;
  color: #f1dcee;

  text-shadow: 0 0 7px #dc56c6b7, 0 0 10px #dc56c5, 0 0 21px #dc56c5,
    0 0 42px #dc5699, 0 0 82px #dc5699, 0 0 92px #dc1099, 0 0 110px #dc1099;
}

.header {
  background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%),
    url("./../images/header/bg-band.png"); //wtf?
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 364px;
  position: relative;

  @media screen and (min-width: 330px) {
    background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%),
      url("./../../src/images/header/bg-bandMid.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 780px) {
    background: linear-gradient(90deg, #0b0b0b73 0%, #0b0b0b80 50%),
      url("./../../src/images/header/bg-bandBig.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 1280px;
    height: 446px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .logo {
    overflow: hidden;
    position: absolute;
    top: -100px;
    left: -100px;

    background: linear-gradient(
      136.07deg,
      rgba(196, 196, 196, 0.03) 10.75%,
      rgba(196, 196, 196, 0) 92.33%
    );
    backdrop-filter: blur(30px);
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      left: -179px;
      top: -160px;
    }

    @media screen and (min-width: 1280px) {
      left: -239px;
      top: -240px;
    }

    & > svg {
      position: absolute;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title > h1 {
      width: 212px;
      height: fit-content;
      margin-top: 78px;
      font-weight: 900;
      font-size: 18px;
      line-height: 1.222;
      text-align: center;

      @media screen and (min-width: 768px) {
        width: 353px;
        height: fit-content;
        margin-top: 40px;
        font-size: 30px;
      }

      @media screen and (min-width: 1280px) {
        width: 590px;
        height: fit-content;
        margin-top: 40px;
        font-size: 50px;
      }
    }

    .serch {
      &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &__wrapper {
        position: relative;

        &--drop {
          height: 65px;
          position: relative;
        }

        @media screen and(min-width:768px) {
          margin-top: 27px;
        }
        @media screen and(min-width:1280px) {
          margin-top: 27px;
        }

        #event-serch,
        #choose-country {
          box-sizing: border-box;
          width: 270px;
          height: 40px;
          margin-top: 25px;
          padding: 10px 40px;
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(20px);
          border-radius: 20px;
          border-style: none;

          font-size: 16px;
          line-height: 20px;
          font-weight: 400;

          &::placeholder {
            color: getColor(font-gray-color);
          }

          &:hover,
          &:focus {
            outline: none;
          }
        }

        #event-serch {
          @media screen and (min-width: 768px) {
            margin-right: 15px;
          }
        }

        #choose-country {
          @media screen and (min-width: 768px) {
            margin-left: 15px;
          }
        }

        .loop {
          position: absolute;
          width: 14px;
          height: 14px;
          top: 40px;
          right: 30px;
        }

        .loop {
          @media screen and (min-width: 768px) {
            top: 39px;
            right: 43px;
          }

          @media screen and (min-width: 1280px) {
            top: 39px;
            right: 43px;
          }
        }
      }
    }
  }

  .gradient-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 102px;
    background: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0) 0%,
      rgba(14, 14, 14, 0.8) 100%
    );
  }
}

// dorop down

.drop-down {
  position: relative;
  z-index: 2;
  list-style: none;
  overflow: auto;
  box-sizing: border-box;
  transition: height 0.3s ease;

  width: 270px;
  height: 260px;
  margin-top: 25px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border-style: none;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  & li {
    width: 100%;
    border-bottom: 3px solid getColor(font-gray-color);
    padding-left: 0;
    & a {
      display: block;
      color: getColor(font-gray-color);
      text-decoration: none;
      padding: 10px 40px;
    }
  }

  &.closed {
    overflow: hidden;
    height: 40px;
  }
}

.nav-button {
  display: block;
  color: getColor(font-gray-color);
}

.down-arrow {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 14px;
  right: 30px;
}

#scrollbar-dark::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
  width: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 2px;
}

#scrollbar-dark::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

#scrollbar-dark::-webkit-scrollbar-thumb {
  border-radius: 30px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
