@import "../utils/variable";
.div-modal {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .wrapper {
    position: fixed;

    .close {
      position: absolute;
      right: 25px;
      top: 5px;
      width: 17px;
      height: 17px;
    }

    .imgRound img {
      width: 100px;
      height: 100px;

      @media screen and (min-width: 768px) {
        width: 110px;
        height: 110px;
        padding-bottom: 10px;
      }

      @media screen and (min-width: 1280px) {
        width: 132px;
        height: 132px;
      }
    }
  }

  .wrapper {
    width: 272px;
    max-height: 800px;
    min-height: 750px;
    border-radius: 150px 0px 150px 0px;
    background-color: getColor(bg-modal);

    @media screen and (min-width: 768px) {
      width: 595px;
      // height: 60vh;
      border-radius: 300px 0px;
      padding-top: 30px;
    }

    @media screen and (min-width: 1280px) {
      width: 930px;
      // height: 60vh;
      padding-top: 0;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and(min-width: 768px) {
      align-items: flex-start;
      text-align: start;
      margin-left: 20px;
    }

    &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__img {
      visibility: hidden;
      display: none;

      @media screen and (min-width: 768px) {
        visibility: visible;
        display: block;
        width: 233px;
        height: 416px;
        padding-right: 20px;

        margin-left: 20px;
      }

      @media screen and (min-width: 1280px) {
        width: 300px;
        height: 500px;
        margin: 0 60px 0 30px;
        align-items: center;
        display: flex;
        padding-right: 0;
        padding-top: 0;
      }
    }

    &__info {
      margin-top: 7.8px;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      @media screen and (min-width: 1280px) {
        font-size: 24px;
        line-height: 1.208;
      }
    }

    &__text {
      color: getColor(font-dark-color);
      width: 173px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.25;
      margin: 8px 0;
      max-height: 82px;
      overflow: hidden;

      @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.22;
        max-height: 70px;
        overflow: hidden;
      }

      &-width {
        width: 243px;
        @media screen and (min-width: 1280px) {
          width: 450px;
        }
      }

      &--label::before {
        content: "";
        display: inline-block;
        background: url("./../images/modal/ticket.png");
        // fill:red;
        width: 24px;
        height: 16px;
        margin-right: 13px;
        margin-left: 25px;

        @media screen and (min-width: 768px) {
          margin-left: 0;
        }
      }
    }

    .btn {
      &-buy {
        background: linear-gradient(119deg, #4c00fe 0%, #dc56c5 80%);
        background-size: 700%;
        background-position: left;
        color: getColor(font-second-color);
        cursor: pointer;
        width: 145px;
        height: 40px;

        border-radius: 5px;
        border-style: none;

        &:hover,
        &:focus {
          animation: bg-grag;
          animation-duration: 6000ms;
          animation-iteration-count: infinite;
        }

        @keyframes bg-grag {
          0% {
            background-position: left;
          }

          50% {
            background-position: right;
          }

          100% {
            background-position: left;
          }
        }
      }

      &-author {
        color: getColor(button-color);
        border: 1px solid getColor(button-color);
        background-color: transparent;
        cursor: pointer;
        width: 230px;
        height: 40px;
        margin-top: 25px;

        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.25;

        @media screen and (min-width: 768px) {
          bottom: -10px;
          left: -170px;
          position: relative;
        }

        @media screen and (min-width: 1280px) {
          bottom: -50px;
          left: -250px;
        }

        &:hover,
        &:focus {
          border: 1px solid getColor(font-main-color);
        }
      }
    }
  }
}

.backdrop {
  visibility: visible;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;
}
.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.wrapper {
  filter: blur(0);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80vh;

  border: 3px solid white;
}
.wrapper-active {
  display: block;
}
.over {
  overflow: hidden;
}
